/* 
Table of contents
=====================
// 1. Variables
// 2. Font Faces
// 3. Base
// 4. Layout
// 5. Block + element
// 6. Modifier
// 7. State
// 8. Animations
// 9. Media Queries
 */


/* // Variables 

html {
--btn_background: #38a5db;
--margin-left: calc(132*100%/1440);
--margin-right: calc(132*100%/1440);





}

*/


/* //2. Fonts Faces*/

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/Font/OpenSans-Regular.ttf');
}


/* // 3. Base */

html{
  font-size: 62.5%;

}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: OpenSans;
}

h1 {
  max-width: 570px;
  color: #ffffff;
  font-size: 4.1rem;
}

h2 {
  margin-bottom: 50px;
  }


h3 {
  color: #1088d3;
  font-size: 1.8rem;
  text-align: center;
}

h4 {
  color: #001225;
  font-size: 1.3rem;
  text-align: center;
}

nav {
  background: #ffffff;
  height: 70px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 2;
}

ul {
  padding: 0;
}

form {
  display: flex;
  position: relative;
}


/* // 6. Modifier */

.btn {
  border-radius: 50px;
  border: none;
  background: #38a5db;
  color: #fffefe;
  font-size: 1.6rem;
  text-align: center;
}


/* // 4. Layout */

.header {
  text-align: center;
  background: #2e3cb0;
  background-image: url(../assets/BG/Shape1@1x.svg), url(../assets/BG/Shape2@1x.svg);
  background-repeat: no-repeat, no-repeat;
  /* background-size: contain; */
  background-position: top left, top left;
  padding-bottom: 60px;
}

.team {
  text-align: center;
  color: #1b1f82;
  font-size: 2rem;
  padding: 80px 0 80px 0;
}

footer {
  background: linear-gradient(to bottom, #3846b4 1%, #243193 100%);
  padding-top: 50px;
}


/* // 5. Block + element */

.menu {
  flex: 1;
  display: flex;
  list-style: none;
  color: #1c2084;
  font-size: 1.6rem;
  text-align: left;
  margin-right: calc(50*100%/1440);
}

.menu__item {
  visibility: hidden;
}

.menu__logo {
  margin: auto auto auto calc(132*100%/1440);
}

.header__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: calc(120*100%/1440);
  margin-right: calc(120*100%/1440);
}

.inputForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.inputForm__input {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 20px;
  box-sizing: border-box;
  color: #566577;
  font-size: 1.7rem;
  text-align: left;
  
}

.inputForm__timer {
  display: flex;
  max-width: 370px;
  font-size: 2.5rem;
  line-height: 49px;
  color: #8186f4;
  margin-bottom: 45px;
  justify-content: space-between;
}


.inputForm__timer-item {
  flex-basis: 70px;
  height: 49px;
  border: 1px solid #8186f4;
  border-radius: 4px;
  color: #fffefe;
}

.videoBox {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.videoBox__image {
  width: 100%;
  height: auto;
  margin-top: 10%;
  cursor: pointer;
}

.videoBox__player {
  position: relative;
  width: 100%;
}

.videoBox__subheader {
  height: 32px;
  color: #2e93d2;
  font-size: 2rem;
  /* margin-right: calc(190*100%/1440); */
}

.videoBox__socialmedia {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  height: 35px;
}

.videoBox__socialmedia-item {
  display: inline-block;
}

.team__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: calc(132*100%/1440);
  margin-right: calc(132*100%/1440);
}

.team__list-item {
  margin: 0 10px 0 10px;
}

.team__list-description {
  line-height: 2.7rem;
  color: #45505f;
  font-family: SourceSansPro;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 25px;
}

.team__profile {
  width: 11px;
  height: 11px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  padding: 6px 16px 6px 16px;
}

.footer__logo {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__logo-image {
  margin-left: calc(132*100%/1440);
  margin-right: calc(132*100%/1440);
  /* margin-right: auto; */
  margin-bottom: 40px;
  width: 96.46px;
}

.footer__header {
  color: #fffefe;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px
}

.footer__email {
  text-align: center;
  color: #0f80fe;
  font-size: 2rem;
  margin: 0 auto;
}

.footer__description {
  max-width: 290px;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  margin: 40px auto 50px auto;
}

.footer__nav {
  color: #7883D5;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__nav-item {
  list-style: none;
  box-sizing: border-box;
  flex: 0 1 120px;
  margin-top: 30px;
}

.footer__nav-item:not(:first-child) {
  border-left: 2px solid #0097ff;
}

.footer__nav-item:nth-of-type(1) { 
  order: 1; 
  flex-basis: 150px;
 }

 .footer__nav-item:nth-of-type(2) {
  border: none;
}

.footer__copyright {
  color: #7883D5;
  font-size: 1.3rem;
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 0;
}


/* // 6. Modifier */

.timer--text {
  margin-top: 133px;
  color: #2e93d2;
  font-size: 2rem;
}

.inputForm--text {
  padding-bottom: 15px;
  max-width: 570px;
  height: 26px;
  color: #ffffff;
  font-size: 1.7rem;
}

.btn--short {
  width: 59px;
  flex-shrink: 0;
  height: 51px;
  vertical-align: top;
  position: absolute;
  right: 0;
}

.btn--wide {
  width: 220px;
  height: 46px;
  margin-right: calc(132*100%/1440);
  margin-left: calc(132*100%/1440);
}

/* // 9. Media Queries */

@media screen and (min-width: 380px){
  .footer__nav-item {
    flex: 0 1 120px;
  }
}


@media screen and (min-width: 520px) {
  .menu__item {
    visibility: visible;
    justify-content: flex-end;
    align-self: center;
    padding: 0 20px 0 20px;
    height: 22px;
  }
  .videoBox__socialmedia {
    margin-left: auto;
    max-width: 300px;
  }
  .videoBox__subheader  {
    text-align: right;
  }
}

@media screen and (min-width: 600px){
  .btn--wide {
    margin-left: auto;
  }
  .footer__logo {
   margin-left: calc(139*100%/1440);
   margin-right: calc(139*100%/1440);
  }
}

@media screen and (min-width: 622px){
  .footer__nav-item:nth-of-type(1) { 
    order: 0;
   }
   .footer__nav-item:nth-of-type(2) {
    border-left: 2px solid #0097ff;
  }
}

@media screen and (min-width: 676px) {
 .timer--text, h1, .inputForm--text{
   text-align: left;
 }

 .inputForm__timer {
   margin: 0;
 } 
}

@media screen and (min-width: 900px){
  .header__item {
    flex-direction: row;
  }
  .videoBox__image {
    margin-top: 175px;
    margin-left: calc(120*100%/1440);
  }
  .videoBox__socialmedia, .videoBox__subheader {
    margin-right: -30px;
  }
}

@media screen and (max-width:622px) {
  .footer__nav-item:not(:first-child) { 
    flex-basis: 100px;
   }
  .footer__nav-item:nth-of-type(1) { 
    flex-basis: 320px;
   }
}