/* 
Table of contents
=====================
// 1. Variables
// 2. Font Faces
// 3. Base
// 4. Layout
// 5. Block + element
// 6. Modifier
// 7. State
// 8. Animations
// 9. Media Queries
 */

/* // Variables 

html {
--btn_background: #38a5db;
--margin-left: calc(132*100%/1440);
--margin-right: calc(139*100%/1440);





}

*/



/* //2. Fonts Faces*/

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('OpenSans-Bold.ttf') format('ttf');
  }
  @font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('OpenSans-BoldItalic.ttf') format('ttf');
  }
  @font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('OpenSans-ExtraBold.ttf') format('ttf');
  }
  @font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('OpenSans-ExtraBoldItalic.ttf') format('ttf');
  }
  @font-face {
    font-family: 'OpenSans-Italic';
    src: url('OpenSans-Italic.ttf') format('ttf');
  }
  @font-face {
    font-family: 'OpenSans-Light';
    src: url('OpenSans-Light.ttf') format('ttf');
  }
  @font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('OpenSans-LightItalic.ttf') format('ttf');
  }
  @font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular.ttf') format('ttf');
  }
  @font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('OpenSans-SemiBold.ttf') format('ttf');
  }
  @font-face {
    font-family: 'OpenSans-SemiBoldItalic';
    src: url('OpenSans-SemiBoldItalic.ttf') format('ttf');
  }


  /* // 3. Base */

  html, body {
      font-size: 62.5%;
      max-width: 1440px;
  }

h1 {
  max-width: 570px;
  height: 128px;
  color: #ffffff;
  font-family: OpenSans;
  font-size: 4.1rem;
  text-align: left;
}

  nav {
      background: #ffffff;
      height: 70px;
      display: flex;
  }

  ul {
    padding: 0;
  }


  /* // 6. Modifier */
  .btn {
        border-radius: 50px;
        border: none;
        background: #38a5db;
        color: #fffefe;
        font-family: OpenSans;
        font-size: 1.6rem;
        text-align: center;
  }

  /* // 4. Layout */

.header {

  background: #2e3cb0;
  background-image: url(../assets/BG/Shape1@1x.svg),
                    url(../assets/BG/Shape2@1x.svg);
  background-repeat: no-repeat, no-repeat;
  /* background-size: contain; */
  background-position: top left, top left;
}

.team {
  text-align: center;
}

footer {
  background: linear-gradient(to bottom, #3846b4 1%,#243193 100%);
  text-align: right; 
}

  /* // 5. Block + element */

  .menu {
      flex: 1;
      display: flex;
      list-style: none;
      color: #1c2084;
      font-family: OpenSans;
      font-size: 1.6rem;
      text-align: left;
      margin-right: calc(139*100%/1440);
  }
  .menu__item {
    visibility: hidden;
  }
  .menu__logo{
       margin: auto auto auto calc(132*100%/1440);
  }
.header__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputForm {
  margin-left: calc(132*100%/1440);
}

.inputForm__input {
  flex: 1,1;
  width: 480px;
  height: 50px;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 20px;
  box-sizing: border-box;
  color: #566577;
  font-family: OpenSans;
  font-size: 1.7rem;
  text-align: left;
}

.inputForm__timer {
  display: flex;
  max-width: 370px;
  justify-content: space-between;
  font-family: OpenSans;
  font-size: 2.5rem;
  line-height: 49px;
  color: #8186f4;
  margin-bottom: 45px;
}

.inputForm__timer-item {
  width: 70px;
  height: 49px;
  border: 1px solid #8186f4;
  border-radius: 4px;
  color: #fffefe;
  text-align: center;

}
.videoBox {
  flex: 1,1;
  /* margin-right: calc(139*100%/1440); */
}

.videoBox__image {
  margin-top: 160px;
  max-width: 450px;
  margin-right: calc(139*100%/1440);
  margin-bottom: 46px;
}

.videoBox__player {
  position: relative;
}

.videoBox__subheader {
  margin-left: auto;
  margin-right: calc(139*100%/1440);
  max-width: 502px;
  height: 32px;
  color: #2e93d2;
  font-family: OpenSans;
  font-size: 2rem;
  text-align: right;
}

.videoBox__socialmedia {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: calc(139*100%/1440);
  margin-bottom: 56px;
  max-width: 264px;
  height: 35px;
}

.videoBox__socialmedia-item {
  display: inline-block;
}

.team__list {
  display: flex;
  justify-content: space-between;
  margin-left: calc(132*100%/1440);
  margin-right: calc(139*100%/1440);
}

.team__list-description {
  width: 270px;
  height: 114px;
  color: #45505f;
  font-family: SourceSansPro;
  font-size: 1.7rem;
  text-align: center;
}

.footer__logo {
  width: 96.46px;
  height: 38.66px;
  margin-left: calc(139*100%/1440);

}
.footer__logo-image {
  margin-top: 46px;
}

.footer__header {
  color: #fffefe;
  font-family: OpenSans;
  font-size: 1.6rem;
  text-align: center;
}

.footer__email {
  text-align: center;
  color: #0f80fe;
  font-family: OpenSans;
  font-size: 2rem;
}

.footer__description {
  max-width: 290px;
  text-align: center;
  color: #ffffff;
  font-family: OpenSans;
  font-size: 1.5rem;
  margin: 0 auto;
}

.footer__nav {
  color: #ffffff;
  font-family: OpenSans;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer__nav-item{
  list-style: none;
  padding: 0 25px 0 25px;
}

.footer__nav-item:not(:first-child):not(:last-child) {
  border-left: 2px solid #0097ff;
  border-right: 2px solid #0097ff;
}

/* // 6. Modifier */

.timer--text {
  margin-top: 63px;
  color: #2e93d2;
  font-family: OpenSans;
  font-size: 2rem;
  text-align: left;
}

.inputForm--text {
  border-radius: NaNpx;
  width: 570px;
  height: 26px;
  color: #ffffff;
  font-family: OpenSans;
  font-size: 17.0px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: left;
}

.btn--short {
  width: 158px;
  height: 50px;
  vertical-align: top;
  margin-left: -50px;
}

.btn--wide {
  width: 220px;
  height: 46px;
  margin-right: calc(139*100%/1440);
}

.btn--round {
  border-radius: 50%;
  width: 54px;
  height: 54px;
  position: absolute;
  top: 55%;
  left: 40%;
}

  /* // 9. Media Queries */
@media screen and (min-width: 520px){
   .menu__item {
        visibility: visible;
        justify-content: flex-end;
        align-self: center;
        padding: 0 5px 0 5px;
        height: 22px;
    }
}
